n8n/COMPLETE_TTS_WORKFLOW.json
{
  "name": "🎯 TTS Workflow - PRODUCTION READY",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tts-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "tts-synthesis-trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-param",
              "name": "text",
              "value": "={{ $json.body?.text || $json.text || 'Hello from Nigeria!' }}",
              "type": "string"
            },
            {
              "id": "voice-param",
              "name": "voice",
              "value": "={{ $json.body?.voice || $json.voice || 'emily-en-us' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-parameters-node",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300],
      "notes": "Extracts text and voice from webhook payload\nFallbacks to defaults if missing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aav4qfa6yqgt3k-8000.proxy.runpod.net/api/tts",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, voice: $json.voice }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "retry": {
            "retry": {
              "maxRetries": 3,
              "retryOnFail": true,
              "waitBetweenRetries": 1000
            }
          }
        }
      },
      "id": "http-request-tts-node",
      "name": "Call TTS API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "✅ RunPod TTS API\nURL: https://aav4qfa6yqgt3k-8000.proxy.runpod.net/api/tts\nTimeout: 30s\nRetries: 3 attempts\nResponse: Binary audio file"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"synthesized.mp3\""
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook-node",
      "name": "Return Audio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300],
      "notes": "Returns MP3 audio file to caller\nCORS enabled for web apps"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Call TTS API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call TTS API": {
      "main": [
        [
          {
            "node": "Return Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-09T00:00:00.000Z",
      "updatedAt": "2025-10-09T00:00:00.000Z",
      "id": "production",
      "name": "production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-09T00:00:00.000Z",
  "versionId": "1.0.0"
}

