n8n/tts_workflow_READY.json
{
  "name": "TTS Synthesis Workflow - READY TO USE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tts-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-47a8-b9c0-d1e2f3a4b5c6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 280],
      "webhookId": "tts-synthesis-trigger"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "text-assignment",
              "name": "text",
              "value": "={{ $json.body?.text || $json.text || 'Hello from Nigeria!' }}",
              "type": "string"
            },
            {
              "id": "voice-assignment",
              "name": "voice_id",
              "value": "={{ $json.body?.voice_id || $json.voice_id || 'naija_female' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-48b9-c0d1-e2f3a4b5c6d7",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [440, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a288y3vpbfxwkk-8888.proxy.runpod.net/api/tts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voice_id",
              "value": "={{ $json.voice_id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "file",
              "outputPropertyName": "data",
              "fullResponse": false
            }
          },
          "retry": {
            "retry": {
              "maxRetries": 3,
              "retryOnFail": true,
              "waitBetweenRetries": 1000
            }
          }
        }
      },
      "id": "c3d4e5f6-a7b8-49c0-d1e2-f3a4b5c6d7e8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{ $credentials.httpHeaderAuth }}",
          "name": "TTS Bearer Auth"
        }
      },
      "notes": "✅ RunPod URL already configured!\nPod ID: a288y3vpbfxwkk\n\nMake sure 'TTS Bearer Auth' credential is created with your API key."
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "audio/mpeg"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"synthesized.mp3\""
              }
            ]
          }
        }
      },
      "id": "d4e5f6a7-b8c9-40d1-e2f3-a4b5c6d7e8f9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 280]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-08T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "instanceId": "your-instance-id"
  }
}

